*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header,
footer{
  background-color: #000;
  color: #fff;
  text-align: center;
}

footer{
  display: absolute;
  bottom: 0;
  width: 100%;
  /* Change this */
  height: 10vh;
}

h1{
  font-size: 3.5rem;
  padding-top: 20px;
}

main{
  height: 70vh;
  background-color: #dedede;
}

.artist-search{
  width: 80vw;
  margin: auto;
  padding: 15px;
}

.artist-input{
  width: 100%;
  outline: none;
  padding: .2rem;
  border-radius: 20px;

}

.search-results-wrapper{
  position: relative;
}

.search-results{
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80vw;
}

.result{
  margin-top: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: #7a7a7a;
}